<router-outlet />
<div *ngIf="showInstallBanner" class="ios-install-banner">
    <p>Para instalar esta app en tu iPhone:</p>
    <ol>
      <li>Presiona <strong>el botón de compartir</strong> en Safari</li>
      <li>Selecciona <strong>"Añadir a pantalla de inicio"</strong></li>
    </ol>
    <button (click)="showInstallBanner = false">Entendido</button>
  </div>
  <button
  *ngIf="showInstallButton"
  class="install-button"
  (click)="installApp()"
>
  <mat-icon>download</mat-icon>
  Instalar app
</button>
